<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>aula-12</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BemVindoAlunoServlet</display-name>
    <servlet-name>BemVindoAlunoServlet</servlet-name>
    <servlet-class>BemVindoAlunoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BemVindoAlunoServlet</servlet-name>
    <url-pattern>/BemVindoAlunoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cadastro</display-name>
    <servlet-name>Cadastro</servlet-name>
    <servlet-class>Cadastro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cadastro</servlet-name>
    <url-pattern>/Cadastro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroAluno</display-name>
    <servlet-name>CadastroAluno</servlet-name>
    <servlet-class>CadastroAluno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroAluno</servlet-name>
    <url-pattern>/CadastroAluno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Teste</display-name>
    <servlet-name>Teste</servlet-name>
    <servlet-class>Teste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teste</servlet-name>
    <url-pattern>/Teste</url-pattern>
  </servlet-mapping>
</web-app>